<%= link_to 'Sign up',new_user_path %>
<center>
	<table>
		<tr>
			<td>Name</td>
			<td>Email</td>
		</tr>
		<%= @users.each do |user| %>
		<tr>
			<td> <%= user.name  %></td>
			<td> <%= user.email %></td>
		</tr>
		<% end %>
	</table>
</center>	