<center>
	<p>#####################################################</p>
	<h1>Welcome to Quiz App Server</h1>
	<p>In Anavel, we trust...</p>                                 </p>
	<p>|<%= link_to'Home', home_path %>|<%= link_to 'List', listing_path %>|                   </p>
	<p>#####################################################</p>  
</center>